.habit__front {
  width: 100%;
  height: 100%;
  background-color: var(--color-02);
}
.habit__front header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.habit__front header h1 {
  font-size: 1rem;
  margin-right: 0.5rem;
}
.habit__front header div {
  display: flex;
  align-items: center;
}
.habit__front header button {
  display: grid;
  place-items: center;
  border: none;
  background-color: transparent;
}
.habit__front header p {
  font-weight: 200;
}

.habit__front .first__day {
  color: var(--color-green);
  font-size: 0.8rem;
}
.habit__front .week {
  font-size: 0.9rem;
  color: var(--color-violet);
}
.habit__front .month {
  color: var(--color-yellow);
}
.first__day,
.week,
.month {
  margin-right: 0.3rem;
}

.habit__front main ul {
  width: 100%;
  list-style: none;
  display: grid;
  row-gap: 0.5rem;
  grid-template-columns: repeat(7, 1fr);
  margin-top: 1rem;
}
.habit__front main ul li {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  text-align: center;
  line-height: 1rem;
  padding: 8px;
  font-size: 0.8rem;
}
.habit__front main ul li.checked {
  background-color: var(--color-03);
  color: var(--color-01);
}
.habit__front main ul li.future {
  display: none;
  background-color: var(--color-01);
  color: var(--color-03);
  opacity: 0.8;
}
.habit__front main ul li.today {
  background-color: var(--color-01);
}
.habit__front main ul li.fail {
  background-color: var(--color-red);
  color: var(--color-01);
  opacity: 0.6;
}

.habit__front footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 200;
  font-size: 0.9rem;
  margin-top: 1rem;
}

.habit__front footer div {
  display: flex;
  align-items: center;
}
.habit__front footer input[type='checkbox'] {
  display: none;
}
.habit__front footer label {
  display: flex;
  align-items: center;
}
.habit__front footer label span.label {
  margin-left: 0.5rem;
}
.habit__front footer label span.checkbox {
  display: block;
  width: 20px;
  height: 20px;
  background-color: var(--color-01);
  border-radius: 5px;
}

.front__tomorrow {
  background-color: transparent;
  border: 1px solid var(--color-03);
  color: var(--color-04);
}
.front__tomorrow h1 {
  font-size: 1rem;
}
.front__tomorrow header ~ p {
  margin-top: 1rem;
}
