.habit__back {
  background-color: var(--color-03);
  color: var(--color-01);
  font-size: 1rem;
}

.habit__back header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.habit__back header h1 {
  font-size: 1rem;
}

.habit__back button {
  background-color: transparent;
  border: none;
}
.habit__back footer {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.habit__back footer p {
  color: var(--color-02);
  font-size: 0.9rem;
}

.habit__back footer button {
  background-color: var(--color-04);
  padding: 3px 10px;
  display: flex;
  align-items: center;
  border-radius: 15px;
  color: var(--color-01);
}
.habit__back footer button span {
  font-size: 1rem;
  margin-left: 0.4rem;
}

.habit__back main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
