.adding__form {
  margin-bottom: 1rem;
}

.adding__form input[type='text'] {
  width: 100%;
  height: 40px;
  text-align: center;
  margin-bottom: 1rem;
  border-radius: 10px;
  border: none;
  outline: none;
}
.adding__form input[type='text']:focus {
  outline: 1px solid var(--color-05);
}

.button {
  width: 100%;
}

.adding__form .field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.adding__form .field p {
  color: var(--color-05);
  font-weight: 500;
  white-space: nowrap;
}

.adding__form .field label {
  font-size: 0.9rem;
  color: var(--color-01);
  padding: 2px 6px;
  border-radius: 10px;
}
.adding__form .field input[type='radio'] {
  display: none;
}

.checked {
  background-color: var(--color-01);
  color: var(--color-05);
  border-radius: 10px;
}
.adding__form .field input[type='radio']:checked ~ label {
  background-color: var(--color-01);
  color: var(--color-05);
}
