.adding__form {
  margin-bottom: 1rem;
}

.adding__form input[type='text'] {
  width: 100%;
  height: 40px;
  text-align: center;
  margin-bottom: 1rem;
  border-radius: 10px;
  border: none;
  outline: none;
}
.adding__form input[type='text']:focus {
  outline: 1px solid var(--color-05);
}

.button {
  width: 100%;
}

.adding__form .start__dates {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.start__dates div {
  display: flex;
  align-items: center;
}

.adding__form .start__dates label {
  font-size: 0.8rem;
  color: var(--color-01);
  margin-left: 0.5rem;
}
.adding__form input[type='radio'] {
  width: 12px;
  height: 12px;
}
