.setting {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background-color: var(--color-01);
  padding: 1rem 0 0 calc(100% + 0.5rem);
}
.setting button.back {
  background-color: transparent;
  font-size: 1.2rem;
}
