.wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background-color: var(--color-01);
  padding: 2rem 0.5rem 1rem calc(100% + 0.5rem);
}
.wrap button.back {
  background-color: transparent;
  font-size: 1.2rem;
  height: 1.2rem;
  opacity: 0.5;
  width: 1.2rem;
}
.wrap header {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
